:root {
    --white: #ffffff;
    --blue: #1E53B9;
    --lightgray: #77889968;
    --shadow: #392F5A;
    --green: #056608;
    --red: #8b0000;
    --darkgray: #909090;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppins;
    text-align: center;
}

.container {
    border: none;
    width: 375px;
    position: relative;
    height: 95vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: var(--lightgray);
}

.home-layout {
    background-color: var(--blue);
    padding: 50px 10px;
    margin-bottom: 40px;
    font-size: 24px;
    color: var(--white);
}

.sub-cont-layout img {
    padding: 20px 20px;
    background-color: var(--blue);
    margin-bottom: 42px;
    margin-top: 42px;
}

.timer-scorecont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding: 0px 5px;
    font-size: 14px;
    background-color: var(--blue);
    border-bottom: 1px solid var(--lightgray);
    color: var(--white);
}

.question-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    height: 200px;
    width: 100%;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 85%;
    height: 65%;
    color: var(--blue);
    box-shadow: 1px 2px 15px 2px var(--shadow);
    color: var(--white);
    border-radius: 30px;
    font-size: 26px;
    padding: 20px 10px;
}


.final-score {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.76);
    position: absolute;
    top: 0;
    height: 95vh;
    width: 100%;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
}

.final-score-content {
    box-sizing: border-box;
    height: 400px;
    background-color: #fff;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.final-score img {
    padding-bottom: 30px;
}

.current-score {
    padding-bottom: 20px;
}

.high-score {
    padding-bottom: 20px;
}

.final-score button {
    padding: 8px 20px;
    border: solid 0.5px;
}

.answer-layout {
    height: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choice {
    width: 80%;
    padding: 20px;
    margin-top: 15px; 
    border: none;
    border-radius: 30px;
    background-color: var(--blue);
    box-shadow: 1px 2px 5px 2px var(--shadow);
    font-size: 20px;
    color: var(--white);
}

.choice a {
    color: var(--white);
    text-decoration: none;
}

.processing {
    width: 83%;
    padding: 22px;
    margin-top: 15px; 
    border: none;
    border-radius: 30px;
    background-color: var(--darkgray);
    box-shadow: 1px 2px 5px 2px var(--shadow);
    font-size: 20px;
    color: var(--white);
}

.answer-popup-correct {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    bottom: 0; 
    border: none;
    font-size: 20px;
    color: var(--white);
    background-color: var(--green);
    display: flex;
    justify-content: center;
}

.answer-popup-wrong {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    bottom: 0; 
    border: none;
    font-size: 20px;
    color: var(--white);
    background-color: var(--red);
    text-align: center;
    display: flex;
    justify-content: center;
}

.correct {
    width: 80%;
    padding: 20px;
    margin-top: 15px; 
    border: none;
    border-radius: 30px;
    background-color: var(--green);
    box-shadow: 1px 2px 5px 2px var(--shadow);
    font-size: 20px;
    color: var(--white);
}

.wrong {
    width: 80%;
    padding: 20px;
    margin-top: 15px; 
    border: none;
    border-radius: 30px;
    background-color: var(--red);
    box-shadow: 1px 2px 5px 2px var(--shadow);
    font-size: 20px;
    color: var(--white);
}

.choice {
    cursor: pointer;
}

#close-modal a, #play-again a {
    text-decoration: none;
    color: #000000;
    cursor: default;
}